@import data.UserSession
@import helper._
@import views.forms.FormFieldTemplate._

@(user: UserSession, userForm: Form[_], update: Option[Int] = None)(implicit request: RequestHeader, messagesProvider: MessagesProvider)


@views.html.management.managementTemplate("Ajouter une App interne", user) {
    <div class="row">
        <div class="col-lg-12">

            <h2>Ajout d'une app interne</h2>

            <p>Ajoutez le domaine de l'app. Seules les apps whitelistées peuvent utiliser l'authentification par jeton JWT.</p>

            @if(userForm.hasGlobalErrors) {
                @error(userForm.globalErrors.map(_.format))
            }

            @form(action = controllers.management.routes.InternalAppsCRUDController.whitelistDomainPost()) {
                @CSRF.formField

                @inputText(userForm("domain"), '_label -> "Domaine", '_showConstraints -> false, 'class -> "form-control", 'required -> true, 'autofocus -> true, 'placeholder -> "magmat.japan-impact.ch")
                <br>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Créer</button>
            }
        </div>
    </div>
}