@(userForm: Form[_], app: Option[String])(implicit request: RequestHeader, messageProvider: MessagesProvider)

    @import helper._
    @import views.forms.FormFieldTemplate._


@style = {
    <link rel="stylesheet" href="@routes.Assets.at("css/register.css")" crossorigin="anonymous">
}

@main("Informations manquantes", style) {

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="@routes.Assets.at("img/logo.png")" alt="Logo Japan Impact" width="240" height="200">
            <h2>Informations manquantes</h2>
            <p class="lead">Nous avons besoin de quelques informations suplémentaires pour vous rediriger.</p>

            <hr>

        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-8">

            @form(action = controllers.explicit.routes.FillMissingController.fillMissingPost(app)) {
                @CSRF.formField

                @if(userForm.hasGlobalErrors) {
                    @error(userForm.globalErrors.map(_.format))
                }

                @inputText(userForm("address"), 'type -> "text", '_label -> "Addresse", 'class -> "form-control", 'placeholder -> "Avenue du Tir Fédéral 12", 'required -> true, 'autofocus -> true)
                @inputText(userForm("addressComplement"), 'type -> "text", '_label -> "Seconde ligne d'addresse", 'class -> "form-control", 'placeholder -> "Appartement 27", 'autofocus -> true)

                <div class="row">
                    <div class="col-md-4 mb-3">
                        @inputText(userForm("country"), 'type -> "text", '_label -> "Pays", 'class -> "form-control", 'placeholder -> "Suisse", 'required -> true, 'autofocus -> true)
                    </div>
                    <div class="col-md-4 mb-3">
                        @inputText(userForm("postCode"), 'type -> "text", '_label -> "NPA/Code postal", 'class -> "form-control", 'placeholder -> "1015", 'required -> true, 'autofocus -> true)
                    </div>
                    <div class="col-md-4 mb-3">
                        @inputText(userForm("city"), 'type -> "text", '_label -> "Ville", 'class -> "form-control", 'placeholder -> "Lausanne", 'required -> true, 'autofocus -> true)
                    </div>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmer</button>
            }
            </div>
        </div>

    </div>
}