@import data.UserSession
@import helper._
@import views.forms.FormFieldTemplate._

@(user: UserSession, userForm: Form[_], update: Option[String] = None)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@title = @{
    if(update.isEmpty) {
        "Création de groupe"
    } else {
        "Modification de groupe"
    }
}

@button = @{
    if(update.isEmpty) {
        "Créer"
    } else {
        "Modifier"
    }
}

@target = @{
    if(update.isEmpty) {
        controllers.management.routes.GroupCRUDController.createGroup()
    } else {
        controllers.management.routes.GroupCRUDController.updateGroup(update.get)
    }
}

@views.html.management.managementTemplate(title, user) {
    <div class="row">
        <div class="col-lg-12">

            <h2>@title</h2>

            @if(userForm.hasGlobalErrors) {
                @error(userForm.globalErrors.map(_.format))
            }

            @form(action = target) {
                @CSRF.formField

                @inputText(userForm("name"), '_label -> "Identifiant", '_showConstraints -> false, 'class -> "form-control", 'required -> true, 'autofocus -> true, 'placeholder -> "mon-super-groupe")
                @inputText(userForm("displayName"), '_label -> "Nom", '_showConstraints -> false, 'class -> "form-control", 'required -> true, 'autofocus -> true, 'placeholder -> "Mon Super Groupe")

                <br>

                <button class="btn btn-lg btn-primary btn-block" type="submit">@button</button>
            }
        </div>
    </div>
}