@(userForm: Form[_], required: Boolean = false)(implicit request: RequestHeader, messageProvider: MessagesProvider)

    @import helper._
    @import views.forms.FormFieldTemplate._


@style = {
    <link rel="stylesheet" href="@routes.Assets.at("css/register.css")" crossorigin="anonymous">
}

@main("Modifier mes informations", style) {

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="@routes.Assets.at("img/logo.png")" alt="Logo Japan Impact" width="240" height="200">
            <h2>Modifier mes informations</h2>

            @if(required) {
                <div class="alert alert-info">
                    <p>L'application à laquelle vous souhaitez accéder demande des informations supplémentaires. Merci
                        de bien vouloir compléter votre adresse et votre numéro de téléphone.</p>
                </div>
            } else {
                <p class="lead">Vous pouvez mettre à jour les informations de votre profil ici.</p>
            }
            <hr>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-8">

            @form(action = controllers.forms.routes.UpdateInfoController.updatePost()) {
                @CSRF.formField

                @if(userForm.hasGlobalErrors) {
                    @error(userForm.globalErrors.map(_.format))
                }

                <div class="row">
                    <div class="col-md-6 mb-3">
                        @inputText(userForm("firstName"), 'type -> "text", '_label -> "Prénom", 'class -> "form-control", 'placeholder -> "Prénom", 'required -> true, 'autofocus -> true)
                    </div>
                    <div class="col-md-6 mb-3">
                        @inputText(userForm("lastName"), 'type -> "text", '_label -> "Nom de famille", 'class -> "form-control", 'placeholder -> "Nom de famille", 'required -> true, 'autofocus -> true)
                    </div>
                </div>


                @inputText(userForm("address"), 'type -> "text", '_label -> "Addresse", 'class -> "form-control", 'placeholder -> "Avenue du Tir Fédéral 12", 'required -> true, 'autofocus -> true)
                @inputText(userForm("addressComplement"), 'type -> "text", '_label -> "Seconde ligne d'addresse", 'class -> "form-control", 'placeholder -> "Appartement 27", 'autofocus -> true)

                <div class="row">
                    <div class="col-md-4 mb-3">
                        @inputText(userForm("country"), 'type -> "text", '_label -> "Pays", 'class -> "form-control", 'placeholder -> "Suisse", 'required -> true, 'autofocus -> true)
                    </div>
                    <div class="col-md-4 mb-3">
                        @inputText(userForm("postCode"), 'type -> "text", '_label -> "NPA/Code postal", 'class -> "form-control", 'placeholder -> "1015", 'required -> true, 'autofocus -> true)
                    </div>
                    <div class="col-md-4 mb-3">
                        @inputText(userForm("city"), 'type -> "text", '_label -> "Ville", 'class -> "form-control", 'placeholder -> "Lausanne", 'required -> true, 'autofocus -> true)
                    </div>
                </div>

                @inputText(userForm("phone"), 'type -> "text", '_label -> "Numéro de téléphone", 'class -> "form-control", 'placeholder -> "+41 70 123 45 67", 'autofocus -> true)

                <button class="btn btn-lg btn-primary btn-block" type="submit">Enregistrer</button>
            }
            </div>
        </div>

    </div>
}