@(userForm: Form[_])(implicit request: RequestHeader, messageProvider: MessagesProvider)


    @import helper._
    @import views.forms.LoginFieldTemplate._

@style = {
    <link rel="stylesheet" href="@routes.Assets.at("css/signin.css")" crossorigin="anonymous">
}

@main("Changement de mot de passe", style) {

    <div class="text-center content">

    @form(action = controllers.forms.routes.PasswordResetController.passwordResetChangePost()) {
        @CSRF.formField

        <img class="mb-4" src="@routes.Assets.at("img/logo.png")" alt="" width="240" height="200">

        <h1 class="h3 mb-3 font-weight-normal">Changement de mot de passe</h1>

        @if(userForm.hasGlobalErrors) {
            @error(userForm.globalErrors.map(_.format))
        }

        @inputText(userForm("password"), 'type -> "password", '_label -> "Email", 'class -> "form-control", 'placeholder -> "Nouveau mot de passe", 'required -> true, 'autofocus -> true)
        @inputText(userForm("passwordRepeat"), 'type -> "password", '_label -> "Email", 'class -> "form-control", 'placeholder -> "Répétition du nouveau mot de passe", 'required -> true, 'autofocus -> true)

        <input type="hidden" name="email" value="@userForm("email").value" />
        <input type="hidden" name="code" value="@userForm("code").value" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Changer de mot de passe</button>

        <hr>

        <p class="mb-3 text-muted">
            Cette page permet de récupérer le mot de passe de votre compte Japan Impact. Vous n'avez pas oublié votre mot de passe ?
            <a href="@controllers.forms.routes.LoginController.loginGet(None, None)">Connexion</a>
            <br>
            Pas encore de compte ?
            <a href="@controllers.forms.routes.RegisterController.registerGet()">Créer un compte</a>
        </p>
    }

    </div>
}
