@(userForm: Form[_], captcha: String)(implicit request: RequestHeader, messageProvider: MessagesProvider)


    @import helper._
    @import views.forms.LoginFieldTemplate._

@style = {
    <link rel="stylesheet" href="@routes.Assets.at("css/signin.css")" crossorigin="anonymous">
}

@main("Mot de passe oublié", style) {

    <div class="text-center content">

    @form(action = controllers.explicit.routes.PasswordResetController.passwordResetPost()) {
        @CSRF.formField

        <img class="mb-4" src="@routes.Assets.at("img/logo.png")" alt="" width="240" height="200">

        <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>

        @if(userForm.hasGlobalErrors) {
            @error(userForm.globalErrors.map(_.format))
        }

        @inputText(userForm("email"), 'type -> "email", '_label -> "Email", 'class -> "form-control", 'placeholder -> "Email", 'required -> true, 'autofocus -> true)

        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" style="align-self: center;" data-sitekey="@captcha"></div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Récupérer le mot de passe</button>

        <hr>

        <p class="mb-3 text-muted">
            Cette page permet de récupérer le mot de passe de votre compte Japan Impact. Vous n'avez pas oublié votre mot de passe ?
            <a href="@controllers.explicit.routes.LoginController.loginGet(None, None)">Connexion</a>
            <br>
            Pas encore de compte ?
            <a href="@controllers.explicit.routes.RegisterController.registerGet()">Créer un compte</a>
        </p>
    }

    </div>
}
