@()

@main("Un email est en route") {

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Un email est en route!</h4>
                    <p>Nous avons bien enregistré votre demande de réinitialisation de mot de passe. Vous devriez recevoir
                        un message électronique dans les plus brefs délais. Merci de suivre le lien qu'il contient pour poursuivre la réinitialisation de votre mot de passe.</p>

                    <hr>
                    <p class="mb-0">
                        Si vous ne recevez pas d'email dans la prochaine heure, contactez nous à <a href="mailto:ticket@@japan-impact.ch">
                        ticket@@japan-impact.ch</a></p>
                </div>
            </div>
        </div>
    </div>
}