@import data.{Group, UserSession, CasService}
@import helper._

@import views.html.management.managementTemplate
@(user: UserSession, groups: Set[Group], apps: Set[data.ApiKey], internalApps: List[String], casServices: List[CasService])(implicit request: RequestHeader)

@header = {
    <p class="card-text">Bonjour, <b>@{user.email} !</b> Votre identifiant est le <b>#@{user.id}</b>. Vous êtes bien
        connecté à votre compte Japan Impact et pourrez donc accéder facilement à nos divers services en ligne.</p>

@if(user.isAdmin) {
    <p class="card-text">Cette page vous permet d'administrer le service de connexion centralisé Japan Impact.</p>
}

    <a class="btn btn-danger" href="/logout">Déconnexion</a>
    <a class="btn btn-primary" href="@controllers.explicit.routes.UpdateInfoController.updateGet()">Mettre à jour mon profil</a>

    <hr>

    @if(user.canBrowseUsers) {
        <a href="#">Gestion des utilisateurs</a>
    }
}

@managementTemplate("Console de gestion", user, header) {
    <div class="row">
        @if(groups.nonEmpty || user.canManageGroups) {
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        Mes groupes
                    </div>
                    <ul class="list-group list-group-flush">
                        @for(group <- groups) {
                            <li class="list-group-item"><a href="@controllers.management.routes.GroupCRUDController.getGroup(group.name)">@group.displayName (@group.name)</a></li>
                        }

                        @if(user.canManageGroups) {
                            <li class="list-group-item"><a href="@controllers.management.routes.GroupCRUDController.createGroup()">Créer un groupe</a></li>

                            <li class="list-group-item"><a href="#">Gérer d'autres groupes</a></li>
                        }
                    </ul>
                </div>
            </div>
        }

        @if(apps.nonEmpty || user.canCreateApiKey || user.canCreateInternalApp || user.canCreateCasApp) {
            <div class="col-lg-6">
                @if(apps.nonEmpty || user.canCreateApiKey) {
                    <div class="card">

                        <div class="card-header">
                            <h5 class="card-title">Mes clés d'API</h5>
                            <h6 class="card-subtitle text-muted mb-1">Pour utiliser l'API Auth</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            @for(app <- apps) {
                                <li class="list-group-item"><a href="@controllers.management.routes.ApiKeysCRUDController.getApp(app.appId.get)">@app.appName</a></li>
                            }

                            @if(user.canCreateApiKey) {
                                <li class="list-group-item"><a href="@controllers.management.routes.ApiKeysCRUDController.createApp()">Créer une application</a></li>
                            }
                        </ul>
                    </div>
                }


                @if(user.canCreateInternalApp) {
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Applications internes</h5>
                            <h6 class="card-subtitle text-muted mb-1">Pour l'utilisation des tokens JWT</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            @for(app <- internalApps) {
                                <li class="list-group-item">
                                   @form(action = controllers.management.routes.InternalAppsCRUDController.whitelistDomainDelete(), 'style -> "display: inline; float: right;") {
                                       @CSRF.formField
                                       <input type="hidden" name="domain" value="@app">
                                       <button class="btn btn-danger" type="submit">&cross;</button>
                                    }
                                  @app
                                </li>
                            }

                            <li class="list-group-item"><a href="@controllers.management.routes.InternalAppsCRUDController.whitelistDomainGet()">Créer une application interne</a></li>
                        </ul>
                    </div>
                }

                @if(user.canCreateCasApp) {
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Services CAS</h5>
                            <h6 class="card-subtitle text-muted mb-1">Pour le protocole Legacy et les apps externes</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            @for(app <- casServices) {
                                <li class="list-group-item">
                                    <a href="@controllers.management.routes.CasAppsCRUDController.getApp(app.serviceId)">@app.serviceName</a>
                                </li>
                            }

                            <li class="list-group-item"><a href="@controllers.management.routes.CasAppsCRUDController.createApp()">Créer un service CAS</a></li>
                        </ul>
                    </div>
                }
            </div>
        }
    </div>
}