@import data.UserSession

@(title: String, headerText: Html = Html(""))(body: Html)

@style = {
    <link rel="stylesheet" href="@routes.Assets.at("css/management.css")" crossorigin="anonymous">
}

@main(title, style) {

    <div class="container">
        <br>

        <div class="row">
            <div class="col-lg-12">

                <h1>Compte Japan Impact <small><a href="@controllers.management.routes.ManagementHomeController.home()">Retour</a></small></h1>

                @headerText

            </div>
        </div>

        <br>

        @body
    </div>
}