@import data.{UserSession, _}
@(user: UserSession, app: ApiKey)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@views.html.management.managementTemplate("Application " + app.appName, user) {
    <div class="row">
        <div class="col-lg-12">

            <h2>Clé d'API @app.appName</h2>

            <h3>Propriétés</h3>

            <ul>
                <li>Nom : <code>@app.appName</code></li>
                <li>Client-Secret : <code>@app.clientSecret</code></li>
            </ul>


            <h3>Modification</h3>

            <a href="@controllers.management.routes.ApiKeysCRUDController.updateApp(app.appId.get)">Modifier la clé d'API</a>

        </div>
    </div>
}