@main("Erreur de confirmation") {

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Impossible de confirmer votre email</h4>
                    <p>Il est impossible de confirmer votre adresse email (email ou code de confirmation incorrect). Assurez vous
                    de ne pas altérer le lien que vous avez reçu, et que vous n'avez pas déjà confirmé votre email.</p>
                </div>
            </div>
        </div>
    </div>
}