@(userForm: Form[_], captcha: String)(implicit request: RequestHeader, messageProvider: MessagesProvider)

    @import helper._
    @import views.forms.FormFieldTemplate._


    @style = {
        <link rel="stylesheet" href="@routes.Assets.at("css/register.css")" crossorigin="anonymous">
    }

    @main("Inscription", style) {


        <div class="container">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="@routes.Assets.at("img/logo.png")" alt="Logo Japan Impact" width="240" height="200">
                <h2>Inscription</h2>
                <p class="lead">Créez votre compte Japan Impact en quelques instants.</p>

                <a class="mb-3" href="@controllers.forms.routes.LoginController.loginGet()">
                    J'ai déjà un compte</a>
                <hr>

            </div>

            <div class="row justify-content-md-center">
                <div class="col-md-8">

                @form(action = controllers.forms.routes.RegisterController.registerPost()) {
                    @CSRF.formField

                    @if(userForm.hasGlobalErrors) {
                        @error(userForm.globalErrors.map(_.format))
                    }

                    <div class="row">
                        <div class="col-md-6 mb-3">
                        @inputText(userForm("firstName"), 'type -> "text", '_label -> "Prénom", 'class -> "form-control", 'placeholder -> "Prénom", 'required -> true, 'autofocus -> true)
                        </div>
                        <div class="col-md-6 mb-3">
                        @inputText(userForm("lastName"), 'type -> "text", '_label -> "Nom de famille", 'class -> "form-control", 'placeholder -> "Nom de famille", 'required -> true)
                        </div>
                    </div>

                    @inputText(userForm("email"), 'type -> "email", '_label -> "Email", 'class -> "form-control", 'placeholder -> "raï@japan-impact.ch", 'required -> true)
                    @inputPassword(userForm("password"), '_label -> "Mot de passe", 'class -> "form-control", 'placeholder -> "Mot de passe", 'required -> true)

                    @checkbox(userForm("newsletter"), '_label -> "", '_text -> "Je souhaite recevoir la lettre d'informations bimestrielle Japan Impact")

                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                    <div class="g-recaptcha" style="align-self: center;" data-sitekey="@captcha"></div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Inscription</button>

                    <br>
                    <p class="mb-3 text-muted">
                        En vous inscrivant, vous acceptez que PolyJapan (AGEPoly) conserve les informations que vous lui transmettez.
                        Ces informations ne seront pas transmises à des tiers ni utilisées à des fins publicitaires.
                        Nous ne collectond pas d'autres données personnelles à votre sujet.
                        <br><br>
                        La lettre d'information est facultative. Nous nous engageons à ne jamais envoyer plus de 6 emails par année aux personnes inscrites.
                    </p>


                }
                </div>
            </div>

        </div>
    }