@(title: String, helptext: Option[String], target: Call, userForm: Form[_], more: Html = Html(""))(rest: Html)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

    @import helper._
    @import views.forms.LoginFieldTemplate._

@style = {
    <link rel="stylesheet" href="@routes.Assets.at("css/signin.css")" crossorigin="anonymous">
}



@main(title, style) {

    <div class="text-center content">

    @form(action = target) {
        @CSRF.formField

        <img class="mb-4" src="@routes.Assets.at("img/logo.png")" alt="" width="240" height="200">

        <h1 class="h3 mb-3 font-weight-normal">@title</h1>


        @if(helptext.nonEmpty) {
            <p>@{helptext.get}</p>
        }

        @if(userForm.hasGlobalErrors) {
            @error(userForm.globalErrors.map(_.format))
        }

        @inputText(userForm("email"), 'type -> "email", '_label -> "Email", 'class -> "form-control", 'placeholder -> "Email", 'required -> true, 'autofocus -> true)
        @inputPassword(userForm("password"), '_label -> "Email", 'class -> "form-control", 'placeholder -> "Mot de passe", 'required -> true)

        @more


        <button class="btn btn-lg btn-primary btn-block" type="submit">@title</button>

        <hr>
        @rest
    }

    </div>
}
