@(title: String, helptext: Option[String], target: Call, userForm: Form[_], more: Html = Html(""))(rest: Html)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

    @import helper._

@style = {
    <link rel="stylesheet" href="@routes.Assets.at("css/signin.css")" crossorigin="anonymous">
}

@error(errors: Seq[String]) = {
    <div class="alert alert-danger">
        @if(errors.size == 1) {
            @errors.head
        } else {
            <ul>
                @for(error <- errors) {
                    <li>@error</li>
                }
            </ul>
        }
    </div>
}

@main(title, style) {

    <div class="text-center content">

    @form(action = target) {
        @CSRF.formField

        <img class="mb-4" src="@routes.Assets.at("img/logo.png")" alt="" width="240" height="200">

        <h1 class="h3 mb-3 font-weight-normal">@title</h1>


        @if(helptext.nonEmpty) {
            <p>@{helptext.get}</p>
        }

        @if(userForm.hasGlobalErrors) {
            @error(userForm.globalErrors.map(_.format))
        }

        <label for="email" class="sr-only">Email</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required autofocus value="@userForm("email").value.getOrElse("")">

        @if(userForm("email").hasErrors) {
            @error(userForm("email").errors.map(_.format))
        }

        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>

        @if(userForm("password").hasErrors) {
            @error(userForm("password").errors.map(_.format))
        }

        @more


        <button class="btn btn-lg btn-primary btn-block" type="submit">@title</button>

        <hr>
        @rest
    }

    </div>
}
