@(reqId: String, json: String)(implicit request: RequestHeader, messageProvider: MessagesProvider)


@style = {
    <link rel="stylesheet" href="@routes.Assets.at("css/register.css")" crossorigin="anonymous">
}

@main("Connexion", style) {

    <script>
        const registerCredentials =
            async () => {
                const cred = await navigator.credentials.create({publicKey: @json});

                console.log(cred)
            }
    </script>

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="@routes.Assets.at("img/logo.png")" alt="Logo Japan Impact" width="240" height="200">
            <h2>Connexion</h2>
            <p class="lead">Pour poursuivre, connectez vous à votre compte Japan Impact.</p>


            <a class="mb-3" href="@controllers.forms.routes.RegisterController.registerGet()">
                Je n'ai pas encore de compte</a>

            <hr>
        </div>



        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="registerCredentials()">Enregistrer une clé</button>

        </div>

    </div>
}
