@import views.html.helper.CSRF
@()(implicit request: RequestHeader)


@style = {
    <link rel="stylesheet" href="@routes.Assets.at("css/register.css")" crossorigin="anonymous">
}

@main("Authentification Forte", style) {


    <div hidden id="csrf-token">@CSRF.formField</div>

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="@routes.Assets.at("img/logo.png")" alt="Logo Japan Impact" width="240" height="200">
            <h2>Authentification forte</h2>
            <p class="lead">
                Protégez votre compte en utilisant une clé de sécurité, votre empreinte digitale ou votre smartphone lorsque vous vous connectez.</p>

            <hr>
        </div>


        <div class="row justify-content-md-center">
            <div class="col-md-8">

                <div class="alert alert-error" hidden id="register-error"><b>
                    Une erreur s'est produite : </b><span id="register-error-text"></span></div>

                <button class="btn btn-lg btn-primary btn-block" type="submit" id="register-key-start">
                    Enregistrer une clé de sécurité</button>

            </div>

        </div>
    </div>

    <script src="@routes.Assets.at("js/base64.js")"></script>
    <script src="@routes.Assets.at("js/webauthn_register.js")"></script>

}
